<h3 class="showPageHeading is-size-3">
  <%= name %>
</h3>
<div class="showPage columns">
  <%# SHOW EHXIBITION %>
  <div class="column is-7">
    <figure class="image is-5by4">
      <img src="<%= image %>" />
    </figure>
    <div class="showPageInfo">
      <p class="is-size-4"><%= location %> | <%= address %></p>
      <p class="is-size-5">Ends <%= endDate %></p>
    </div>
    <div class="showPageButtons columns">
      <a href="/upcomings/<%= _id %>/edit"><i class="far fa-edit"></i></a>
      <form class="" action="/upcomings/<%= _id %>?_method=DELETE" method="post">
        <button><i class="far fa-trash-alt"></i></button>
      </form>
    </div>

  </div>

  <%# COMMENT SECTION %>
  <div class="ratingSection column is-5">
    <% if(locals.isLoggedIn) { %>
      <form action='/upcomings/<%= id %>/ratings' method="post">
      <h3 class="is-size-4">Leave a review</h3>
      <div class="columns">
        <label class="has-text-right column is-4" for='user'>Username</label>
        <input class="column is-8 input" name='user' value='<%= locals.currentUser.username %>'/>
      </div>
      <div class="columns">
        <label class="has-text-right column is-4" for='rating'>Rating (1 to 10) </label>
        <input class="column is-8 input" name='rating' type='Number' min='1' max='10'/>
      </div>
      <div class="columns">
        <label class="has-text-right column is-4" for='content'>Comments </label>
        <input class="column is-8 input" name='content'></textarea>
      </div>
      <div class="columns">
      <div class="column is-4"></div>
      <div class="column is-8"><button class="button reviewSubmitButton">Submit</button></div>
      </div>
      </form>
      <% } else { %>
        <h3 class="is-size-4">Leave a review</h3>
        <p>Please <a href="/login"><strong>log in</strong></a> to leave a review of this upcoming.</p>
      <% } %>
    <hr>

      <h3 class="is-size-4">Visitor Reviews</h3>
      <% if(locals.isLoggedIn) { %>
      <% ratings.forEach(rating => { %>
        <div class="ratingBox columns">
          <div class="ratingButton column is-1">
            <form method="POST" action="/upcomings/<%= _id %>/ratings/<%= rating._id %>?_method=DELETE">
              <button><i class="far fa-trash-alt"></i></button>
            </form>
          </div>
          <div class="ratingText column is-11">
            <li><strong><%= rating.user %></strong></li>
            <li><%= rating.content %></li>
            <li><%= rating.rating %>/10</li>
          </div>
        </div>
        <% })
      } else { %>
        <% ratings.forEach(rating => { %>
          <div class="ratingText">
            <li><strong><%= rating.user %></strong></li>
            <li><%= rating.content %></li>
            <li><%= rating.rating %>/10</li>
          </div>
          <% })
        } %>


  </div>
</div>
