<div class="indexMain">
  <h3 class="is-size-3">Upcoming Exhibitions</h2>
  <div class="columns">
    <div class="column is-11 columns is-multiline">
      <% exhibitions.forEach(exhibition => {%>
        <div class="column is-4">
        <a href="/exhibitions/<%= exhibition.id %>">
        <figure class="image is-5by4">
          <img src="<%= exhibition.image %>" />
        </figure>
        <div class="indexPageInfo">
          <h2><%= exhibition.name %></h2>
          <p><%= exhibition.location %></p>
          <p><%= exhibition.address %></p>
          <p>Ends: <%= exhibition.endDate %></p>
        </div>
        </a>
        </div>
        <% }) %>
      </div>
      <div class="column is-1">
        <a href="/exhibitions/new"><i class="fas fa-plus"></i></a>
      </div>
    </div>
</div>
