<h2 class="is-size-3">Upcoming Exhibitions</h2>
<div class="columns is-multiline">
  <% exhibitions.forEach(exhibition => {%>
    <div class="column is-4">
    <a href="/exhibitions/<%= exhibition.id %>">
    <img width="400px" height="300px" src="<%= exhibition.image %>" />
    <h2><%= exhibition.name %></h2>
    </a>
    <p><%= exhibition.location %></p>
    <p><%= exhibition.address %></p>
    </div>
    <% }) %>
</div>
