<h1 class="is-size-3"><%= name %></h1>
<img width="700px" height="500px" src="<%= image %>" />
<p><%= location %> </p>
<p><%= address %> </p>
<a class="button" href="/exhibitions/<%= _id %>/edit">Edit</a>
<form class="" action="/exhibitions/<%= _id %>?_method=DELETE" method="post">
  <button class="button">Delete</button>
</form>
